<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parabak Test Suite">
    <listeners>
        <listener class-name="com.parabank.qa.listeners.ExtentReportListener" />
    </listeners>

  <!-- ✅ Define the execution order -->
    <test name="Register and Login Tests">
        <classes>
            <!-- Runs first -->
            <class name="com.parabank.qa.runners.RegisterRunner"/>
            
            <!-- Runs second -->
            <class name="com.parabank.qa.runners.LoginRunner"/>
        </classes>
    </test>
</suite>
